@{
    ViewBag.Title = "Index | Exact Online";
    Layout = "../_Layout.cshtml";
}

<div class="container">

    <div class="title">
        <h1>Exact Online | Integratie</h1>
    </div>
    <div class="content">
        <p>
            <button type="button" class="btn btn-rentmagic" onclick="location.href='@Url.Action("Overzicht", "Exact")'">Customers Exact Online Ophalen</button>
            <button type="button" class="btn btn-rentmagic" onclick="location.href='@Url.Action("Create", "Exact")'">Customer Versturen</button>
        </p>
    </div>

</div>